.center-slider img {
    size-adjust: 300px;
}

.center-slider .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.8);
    transition: all 0.4s ease-in-out;
}

.center-slider .slick-slide,
.center-slider .slick-slide[aria-hidden="true"]:not(.slick-cloned)~.slick-cloned[aria-hidden="true"] {
    transform: scale(0.8, 0.8);
    transition: all 0.4s ease-in-out;
}

/* Active center slide (You can change anything here for cenetr slide)*/
.center-slider .slick-center,
.center-slider .slick-slide[aria-hidden="true"]:not([tabindex="-1"])+.slick-cloned[aria-hidden="true"] {
    transform: scale(1.1);
    background-color: #000000;
}

.center-slider .slick-current.slick-active {
    transform: scale(1.1);
    background-color: #000000;
}

.slick-next,
.slick-prev {
    z-index: 5;
}

.slick-next {
    right: 15px;
}

.slick-prev {
    left: 15px;
}

.slick-next:before,
.slick-prev:before {
    color: #000;
    font-size: 26px;
}


/* Bounce effect*/
.stage {
    border-bottom: 3px solid #444;
    display: flex;
    height: 300px;
    width: 100%;
}

.box {
    align-self: flex-end;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    background-image: url(/assets/images/Asset.png);
    height: 250px;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 250px;
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-75px);
    }

    100% {
        transform: translateY(0);
    }
}