.carousal {
    background-color: aqua;
}

/* Bounce effect*/
.stage {
    border-bottom: 3px solid #444;
    display: flex;
    height: 300px;
    width: 100%;
}

.box {
    align-self: flex-end;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    background-image: url(/assets/images/Asset.png);
    height: auto;
    width: auto;
    transform-origin: bottom;
    width: 250px;
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-55px);
    }

    100% {
        transform: translateY(0);
    }
}